/* CSS declarations go here */

body {
    padding-top: 50px;
}

.navbar-btn {
    background-color: transparent;
    border-color: rgb(221, 221, 221);
}

.navbar-btn .badge {
    background-color: rgb(51, 122, 183);
    font-size: 8px;
    min-width: 8px;
}

.navbar-right {
    float: right !important;
    margin-right: 5px;
}

.container-fluid {
    padding-left: 3px;
    padding-right: 3px;
}

.container-fluid.bnbmenu {
    padding-left: 10px;
    padding-right: 10px;
}

.panel.bnbdashboard,
.list-group.bnbdashboard {
    margin-bottom: 0px;
}

.bnbaction1 {
    cursor: pointer;
}

.ghost {
    opacity: .3;
    background: #C8EBFB;
}

.huge {
    font-size: 40px;
}

/* class for nav bar buttons with icons */

.navbar-btn-icon {
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 8px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin img {
    display:block;
    margin:auto;
}

/* Chat */

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    /*height: 250px;*/
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

