<template name="connInsert">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Connectors" doc=this id="admConnectorForm" type="insert"}}
            {{> connectorCRUDbody}}
            <button type="submit" class="btn btn-primary">Add</button>
        {{/autoForm}}
    </div>
</template>

<template name="connUpdate">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Connectors" doc=this id="admConnectorForm" type="update"}}
            {{> connectorCRUDbody}}
            <button type="submit" class="btn btn-primary">Update</button>
        {{/autoForm}}
    </div>
</template>

<template name="connectorCRUDbody">
    <fieldset id="main">
        {{> afQuickField name="name"}}
        {{> afQuickField name="envID" type="hidden" defaultValue=envID}}
        {{> afQuickField name="description" rows=3}}
        {{> afQuickField name="urlConfig"}}
        {{> afQuickField name="urlImport"}}
        {{> afQuickField name="userID"}}
        {{> afQuickField name="userPassword" type="password"}}
    </fieldset>
</template>
