<template name="importInsert">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Imports" id="admImportForm" type="insert"}}
            {{> importCRUDbody}}
            <button type="submit" class="btn btn-primary">Add</button>
        {{/autoForm}}
    </div>
</template>

<template name="importUpdate">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Imports" doc=this id="admImportForm" type="update"}}
            {{> importCRUDbody}}
            <button type="submit" class="btn btn-primary">Update</button>
        {{/autoForm}}
    </div>
</template>

<template name="importCRUDbody">
    <fieldset id="main">
        {{> afQuickField name="name"}}
        {{> afQuickField name="envID" type="hidden" defaultValue=envID}}
        {{> afQuickField name="description" rows=3}}
        {{> afQuickField name="targetCollection" options=collectionOptions}}
        {{> afQuickField name="connectorID" options=connectorOptions}}
        {{#if isConnectorConfigurable}}
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#configModal">Configure</button>
        {{/if}}
        {{> afQuickField name="fullRefresh"}}
    </fieldset>

    <div class="modal fade" id="configModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Configure Import</h4>
                </div>
                <div class="modal-body">
                    {{#if iframeNotLoaded}}
                        {{> spinner}}
                    {{/if}}
                    <iframe src="" frameBorder="0" class="iframe-hide"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>
