<template name="panelInsert">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Panels" id="admPanelIns" type="insert"}}
            <fieldset>
                {{> afQuickField name='name'}}
                {{> afQuickField name='description' rows=3}}
                {{> afQuickField name='panelType' type='select' options='allowed'}}
                {{> afQuickField name='availableForDashboard'}}
                {{> afQuickField name='detailPanel'}}
                {{> afQuickField name='collectionBase'}}
                {{> afQuickField name='collectionFilter' rows=3}}
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        {{> afQuickField name='sumPanelStyle' type='select' options='allowed'}}
                        {{> afQuickField name='jsonTransformSumHeader' style='resize:vertical;' rows=3}}
                        {{> afQuickField name='jsonTransformSum' style='resize:vertical;' rows=3}}
                        {{> afQuickField name='jsonTransformSumFooter' style='resize:vertical;' rows=3}}
                    </div>
                    <div id='previewSum' class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{> afQuickField name='jsonTransformDtl' style='resize:vertical;' rows=3}}
                    </div>
                    <div id='previewDtl' class="col-sm-6">
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Add</button>
        {{/autoForm}}
    </div>
</template>

<template name="panelUpdate">
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <div class="container">
        {{#autoForm collection="Panels" doc=this id="admPanelUpd" type="update" autosave=true}}
            <fieldset>
                {{> afQuickField name='name'}}
                {{> afQuickField name='description' rows=3}}
                {{> afQuickField name='panelType' type='select' options='allowed'}}
                {{> afQuickField name='availableForDashboard'}}
                {{> afQuickField name='detailPanel'}}
                {{> afQuickField name='collectionBase'}}
                {{> afQuickField name='collectionFilter' rows=3}}
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        {{> afQuickField name='sumPanelStyle' type='select' options='allowed'}}
                        {{> afQuickField name='jsonTransformSumHeader' style='resize:vertical;' rows=3}}
                        {{> afQuickField name='jsonTransformSum' style='resize:vertical;' rows=3}}
                        {{> afQuickField name='jsonTransformSumFooter' style='resize:vertical;' rows=3}}
                    </div>
                    <div id='previewSum' class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{> afQuickField name='jsonTransformDtl' style='resize:vertical;' rows=3}}
                    </div>
                    <div id='previewDtl' class="col-sm-6">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                {{> afArrayField name="actions"}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Update</button>
        {{/autoForm}}
    </div>
</template>


