<template name="adminDashboard">
    <!-- context menu for this panel -->
    {{#contentFor "sidebar"}}
        {{> sidebar}}
    {{/contentFor}}
    <div id="page-wrapper" style="min-height: 610px;">
        {{#if currentDashboard "collections"}}
            {{> adminDBCollections}}
        {{/if}}
        {{#if currentDashboard "panels"}}
            {{> adminDBPanels}}
        {{/if}}
        {{#if currentDashboard "integration"}}
            {{> adminDBIntegration}}
        {{/if}}
        {{#if currentDashboard "organization"}}
            {{> adminDBOrganization}}
        {{/if}}
        {{#if currentDashboard "security"}}
            {{> adminDBSecurity}}
        {{/if}}
    </div>
</template>

