<template name="login">
    <form class="form-signin">
        <h2><img alt="Brand" src="pics/logo_klein.png"></h2>
        {{> loginMessages}}
        <div class="form-group">
            <label for="inputOrganization">Organization</label>
            <input type="text" id="inputOrganization" class="form-control" placeholder="Organization" required=""
                   autofocus="">
        </div>
        <div class="form-group">
            <label for="inputEnvironment">Environment</label>
            <select id="inputEnvironment" class="form-control">
                <option>Production</option>
                <option>Staging</option>
                <option>Admin</option>
            </select>
        </div>
        <label for="inputUser" class="sr-only">Email address</label>
        <input type="text" id="inputUser" class="form-control" placeholder="User id" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Signin in..."
                autocomplete="off">
            Sign in
        </button>
        <a href="{{pathFor 'signup'}}">Sign Up</a>
    </form>
</template>

<template name="loginMessages">
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errorMessage}}
        </div>
    {{/if}}
</template>
