<template name="login">
    <div class="container">
        {{#autoForm schema=loginSchema id="loginForm"}}
            <h2><img alt="Brand" src="pics/logo_klein.png"></h2>
            <fieldset>
                <legend>Admin Console Login <a href="{{pathFor 'signup'}}" class="pull-right btn btn-link">Sign Up</a></legend>
                {{> loginMessages}}
                {{> afQuickField name="orgID" value=orgID}}
                {{> afQuickField name="email" value=email}}
                {{> afQuickField type="password" name="password"}}
                <div>
                    <button type="submit" class="btn btn-primary" data-loading-text="Login...">Login</button>
                    <a href="#">Forgot password?</a>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>

<template name="loginMessages">
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errorMessage}}
        </div>
    {{/if}}
</template>
