<template name="signup">
    <div class="container">
        <h2><img alt="Brand" src="pics/logo_klein.png"></h2>
        {{#autoForm schema=signupSchema id="signupForm" type="method" meteormethod="signup"}}
            <fieldset>
                <legend>Admin Console Sign Up <a href="{{pathFor 'login'}}" class="pull-right btn btn-link">Login</a></legend>
                {{> afQuickField name="organization"}}
                {{> afQuickField name="orgID"}}
                {{> afQuickField name="email"}}
                {{> afQuickField type="password" name="password"}}
                {{> afQuickField type="password" name="confirm"}}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>