<template name="dashboard">
    <div id="dashboard">
        {{#sortable items=panels options=sortableOptions}}
            {{> panelView}}
        {{/sortable}}
        <!--{{#each panels}}
            {{> panelView}}
        {{/each}}-->
    </div>
</template>

<template name="panelInput">
    {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
        <fieldset>
            {{#each fields}}
                {{> afQuickField name=fieldName}}
            {{/each}}
        </fieldset>
    {{/autoForm}}
</template>