<template name="panelRender">
    {{#if isHTML}}
        {{> panelRenderHTML doc=this part="body"}}
    {{/if}}
    {{#if isForm}}
        {{> panelInput}}
    {{/if}}
    {{#if isChart}}
        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=chartData}}
    {{/if}}
</template>

<template name="panelRenderDetail">
    {{> panelRenderHTML doc=this part="detail"}}
</template>


<template name="panelRenderHeader">
    {{> panelRenderHTML doc=this part="header"}}
</template>

<template name="panelRenderFooter">
    {{> panelRenderHTML doc=this part="footer"}}
</template>

<template name="panelRenderHTML">
    {{{displayHTML}}}
</template>
