<template name="panelView">
    <div class="panel panel-{{panelStyle}} bnbsummarypanel">
        <div class="panel-heading">
            {{#if customPanelHeader}}
                {{> panelRenderHeader}}
            {{else}}
                <h4 class="panel-title">{{name}}</h4>
            {{/if}}
        </div>
        {{#if hasPanelBody}}
            <div class="panel-body">
                {{> panelRender}}
            </div>
        {{/if}}
        {{#if hasPanelFooter}}
            <div class="panel-footer">
                {{> panelRenderFooter}}
            </div>
        {{/if}}
    </div>
</template>


<template name="panelViewDetail">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> panelRender}}
        </div>
    </div>
</template>