<template name="panelRender">
    {{#if isHTML}}
        {{> panelRenderHTML panel=this part="body"}}
    {{/if}}
    {{#if isForm}}
        {{> panelRenderForm}}
    {{/if}}
    {{#if isChart}}
        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=chartData}}
    {{/if}}
</template>

<template name="panelRenderHeader">
    {{> panelRenderHTML panel=this part="header"}}
</template>

<template name="panelRenderFooter">
    {{> panelRenderHTML panel=this part="footer"}}
</template>

<template name="panelRenderHTML">
    {{{displayHTML}}}
</template>
