<template name="panelView">
    <div class="panel panel-{{panelStyle}} bnbsummarypanel">
        <div class="panel-heading">
            <div style="display: inline-block; width: 90%">
                {{#if customPanelHeader}}
                    {{> panelRenderHeader}}
                {{else}}
                    <h4 class="panel-title">{{name}}</h4>
                {{/if}}
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-{{panelStyle}} btn-xs dropdown-toggle bnbsummarymenu"
                        data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="bnbsummaryremove" href="#">Remove</a>
                    </li>
                    <li><a class="bnbsummaryfollow" href="#">Follow</a>
                    </li>
                    {{#if hasPanelBody}}
                        <li><a class="bnbsummaryzoom" href="#">Zoom</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        {{#if hasPanelBody}}
            <div class="panel-body">
                {{> panelRender}}
            </div>
        {{/if}}
        {{#if hasPanelFooter}}
            <div class="panel-footer">
                {{> panelRenderFooter}}
            </div>
        {{/if}}
    </div>
</template>


<template name="panelViewDetail">
    {{> panelRender}}
</template>