<template name="panelDetail">
    {{> panelViewDetail}}
    {{#if commentsEnabled}}
        {{> panelComments}}
    {{/if}}
    {{#contentFor "menu"}}
        {{> menudetail}}
    {{/contentFor}}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <button type="button" class="btn btn-default navbar-btn navbar-left" data-toggle="modal"
                    data-target="#sharepanelmodal">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default navbar-btn navbar-left" id="commentPanel">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal"
                    data-target="#deletepanelmodal">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </nav>

    <div class="modal fade" id="deletepanelmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    This action will remove the panel from your dashboard. Do you want to proceed?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="deletepanel">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sharepanelmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Share panel</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Share panel</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="panelComments">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Comments
        </div>
        <div class="panel-body">
            <ul class="chat">
                {{#each comments}}
                    <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                    </span>

                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{username}}</strong>
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago
                                </small>
                            </div>
                            <p>
                                {{comment}}
                            </p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="panel-footer bnbchat">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input id="newComment" type="text" class="form-control input-sm"
                               placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>