<template name="panelView">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{name}}</h4>
        </div>
        <div class="panel-body">
            {{> panelRender}}
        </div>
    </div>
</template>

<template name="panelRender">
    {{#if isHTML}}
        {{{displayHTML}}}
    {{/if}}
    {{#if isForm}}
        {{> panelInput}}
    {{/if}}
    {{#if isChart}}
        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=chartData}}
    {{/if}}
</template>
