<template name="cGoogleSheets">
    <div class="container">
        {{#autoForm schema=c_googleSheetsSchema id="connector_googleSheetsForm"}}
            <fieldset>
                {{> afQuickField name="authenticationMethod"}}
                {{#if afFieldValueIs name="authenticationMethod" value="user"}}
                    {{> afQuickField name="userEmail"}}
                    {{> afQuickField type="password" name="userPassword"}}
                {{/if}}
                {{#if afFieldValueIs name="authenticationMethod" value="service"}}
                    {{> afQuickField name="serviceEmail"}}
                    {{> afQuickField name="pemFile"}}
                {{/if}}
                {{> afQuickField name="spreadsheetName"}}
                {{> afQuickField name="worksheetName"}}
                {{> afQuickField name="range"}}
                {{> afQuickField name="containsHeader"}}
                <div>
                    <button type="submit" class="btn btn-primary">Accept</button>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>