<template name="cPeopleSoftQuery854">
    <div class="container">
        {{#autoForm schema=c_peoplesoftQuery854Schema id="connector_peoplesoftQuery854Form"}}
            <fieldset>
                {{> afQuickField name="urlRESTListeningConnector"}}
                {{> afQuickField name="user"}}
                {{> afQuickField type="password" name="password"}}
                {{> afQuickField name="query"}}
                <div>
                    <button type="submit" class="btn btn-primary">Accept</button>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>